<footer class="footer">
  <div class="container footer-grid">
    <div>
      <strong>Aux Jardins d’Adrien</strong><br />
      1531 Chemin des Anciens Combattants en A.F.N<br />
      Vence (06140) — Alpes-Maritimes, France<br />
      <a href="tel:+33609564511" aria-label="Appelez-nous"> 06 09 56 45 11 </a>
    </div>
    <div class="footer-links">
      <a class="link" href="/estimer">Estimation</a>
      <a class="link" href="/contact">Contact</a>
      <a class="link" href="/mentions-legales">Mentions légales</a>
      <a class="link" href="/confidentialite">Confidentialité</a>
    </div>
    <div>
      <div class="footer-social">
        <a class="btn btn-social" href="#" aria-label="Accéder à notre Facebook">
          <i data-lucide="facebook" absolute-stroke="true" class="icon-social"></i>
        </a>
        <a class="btn btn-social" href="#" aria-label="Accéder à notre Instagram">
          <i data-lucide="instagram" absolute-stroke="true" class="icon-social"></i>
        </a>
        <a class="btn btn-social" href="#" aria-label="Accéder à notre LinkedIn">
          <i data-lucide="linkedin" absolute-stroke="true" class="icon-social"></i>
        </a>
      </div>
      <div class="footer-small">© <span id="year"></span> — Tous droits réservés.</div>
      <div class="footer-small">Site web créé par <a href="https://antony.ferrie.re/" target="_blank" rel="noopener">Antony FERRIERE</a></div>
    </div>
  </div>
</footer>
