<!-- HEADER -->
<header id="site-header" class="header page-top">
  <div class="container">
    <div class="header-row">
      <div class="header-social">
        <div class="header-social-inner">
          <!--<div class="social-wrapper">
            <a class="btn btn-social" href="https://www.facebook.com/auxjardinsdadrien" aria-label="Accéder à notre Facebook">
              <i data-lucide="facebook" absolute-stroke="true" class="icon-social"></i>
            </a>
            <a class="btn btn-social" href="https://www.instagram.com/aux_jardins_dadrien/" aria-label="Accéder à notre Instagram">
              <i data-lucide="instagram" absolute-stroke="true" class="icon-social"></i>
            </a>
            <a class="btn btn-social" href="#" aria-label="Accéder à notre LinkedIn">
              <i data-lucide="linkedin" absolute-stroke="true" class="icon-social"></i>
            </a>
          </div>
          <a class="btn btn-cta" href="tel:+33609564511" aria-label="Appelez-nous">
            <div class="cta-content">Appelez-nous</div>
            <div class="cta-title">06 09 56 45 11</div>
          </a>-->
          <a class="btn btn-header" href="https://www.facebook.com/auxjardinsdadrien" aria-label="Accéder à notre Facebook">
            <i data-lucide="facebook" absolute-stroke="true" class="icon-social"></i>
          </a>
          <a class="btn btn-header" href="https://www.instagram.com/aux_jardins_dadrien/" aria-label="Accéder à notre Instagram">
            <i data-lucide="instagram" absolute-stroke="true" class="icon-social"></i>
          </a>
          <a class="btn btn-header" href="tel:+33609564511" aria-label="Appelez-nous">
            06 09 56 45 11
          </a>
        </div>
      </div>
      <a class="brand" href="/" aria-label="Accueil Aux Jardins d’Adrien">
        <img
          class="logo logo-light"
          src="/images/logo_auxjardinsdadrien_light.png"
          alt="Logo Aux Jardins d’Adrien (clair)"
        />
        <img
          class="logo logo-dark"
          src="/images/logo_auxjardinsdadrien_dark.png"
          alt="Logo Aux Jardins d’Adrien (sombre)"
        />
        <img
          class="logo logo-contrast"
          src="/images/logo_auxjardinsdadrien_contrast.png"
          alt="Logo Aux Jardins d’Adrien (contraste)"
        />
      </a>
      <div class="header-ctas">
        <!--<a class="btn btn-cta" href="/devis" aria-label="Demandez un devis">
          <div class="cta-content">Un projet</div>
          <div class="cta-title">Demandez un devis</div>
        </a>
        <a class="btn btn-cta" href="/contact" aria-label="Contactez-nous">
          <div class="cta-content">Une demande</div>
          <div class="cta-title">Contactez-nous</div>
        </a>-->
        <a class="btn btn-header" href="/devis" aria-label="Demandez un devis">
          Devis gratuit
        </a>
        <a class="btn btn-header" href="/contact" aria-label="Contactez-nous">
          Contactez-nous
        </a>
      </div>
      <!-- MENU MOBILE (slide-in) -->
      <button
        id="burger"
        class="burger"
        aria-label="Ouvrir le menu"
        aria-controls="mobile-nav"
        aria-expanded="false"
      >
        <span class="burger-bar"></span>
        <span class="burger-bar"></span>
        <span class="burger-bar"></span>
      </button>
    </div>
    <div class="header-row">
      <nav class="nav">
        <ul class="nav-list">
          <li>
            <a href="/creation" aria-label="Accéder à notre page de création">Création</a>
          </li>
          <li>
            <a href="/entretien" aria-label="Accéder à notre page d'entretien">Entretien</a>
          </li>
          <li>
            <a href="/maraichage" aria-label="Accéder à notre page de maraîchage">Maraîchage</a>
          </li>
          <li>
            <a href="/nos-valeurs" aria-label="Accéder à notre page nos valeurs">Nos valeurs</a>
          </li>
          <li>
            <a
              href="#"
              class="theme-toggle theme-toggle-dark"
              aria-label="Basculer le thème sombre"
            >
              <i data-lucide="sun" class="theme-toggle-icon"></i>&nbsp;
              <i data-lucide="moon" class="theme-toggle-icon"></i>
            </a>
            <a
              href="#"
              class="theme-toggle theme-toggle-light"
              aria-label="Basculer le thème clair"
            >
              <i data-lucide="sun" class="theme-toggle-icon"></i>&nbsp;
              <i data-lucide="moon" class="theme-toggle-icon"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <aside id="mobile-nav" class="mobile-nav" aria-hidden="true">
    <div class="mobile-nav-inner">
      <a href="/creation" aria-label="Accéder à notre page de création" class="mnav-link">
        Création
      </a>
      <a href="/entretien" aria-label="Accéder à notre page d'entretien" class="mnav-link">
        Entretien
      </a>
      <a href="/maraichage" aria-label="Accéder à notre page de maraîchage" class="mnav-link">
        Maraîchage
      </a>
      <a href="/nos-valeurs" aria-label="Accéder à notre page nos valeurs" class="mnav-link">Nos valeurs</a>
      <div class="mnav-ctas">
        <a class="btn btn-primary wide" href="/devis" aria-label="Devis gratuit">
          Devis gratuit
        </a>
        <a class="btn btn-primary wide" href="/contact" aria-label="Contactez-nous">
          Contactez-nous
        </a>
        <a class="btn btn-primary wide" href="tel:+33609564511" aria-label="Appelez-nous">
          06 09 56 45 11
        </a>
        <a class="btn btn-secondary wide theme-toggle" href="#" aria-label="Changez d'ambiance">
          Changez d'ambiance
        </a>
        <div class="mnav-social">
          <a class="btn btn-social" href="#" aria-label="Accéder à notre Facebook">
            <i data-lucide="facebook" absolute-stroke="true" class="icon-social"></i>
          </a>
          <a class="btn btn-social" href="#" aria-label="Accéder à notre Instagram">
            <i data-lucide="instagram" absolute-stroke="true" class="icon-social"></i>
          </a>
          <a class="btn btn-social" href="#" aria-label="Accéder à notre LinkedIn">
            <i data-lucide="linkedin" absolute-stroke="true" class="icon-social"></i>
          </a>
        </div>
      </div>
    </div>
  </aside>
  <div id="scrim" class="scrim" hidden></div>
</header>
