<!DOCTYPE html>
<html lang="fr" data-theme="auto">
  {% include "_head.njk" %}
  <body>
    {% include "_header.njk" %}
    <main id="content" role="main">
      {{ content | safe }}
    </main>
    {% include "_footer.njk" %} {% include "_scripts.njk" %}
    {{ scripts | safe }}
  </body>
</html>
